{% extends "layouts/admin_layout.html.twig" %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}"class="btn btn-sm btn-secondary">Back to list</a>
{% endblock %}
