{% extends 'layouts/login_layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-12 col-md-6 col-lg-5">
            {% include "parts/_alerts.html.twig" %}
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Login</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ path('app_login') }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" required>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="_remember_me_switch" name="_remember_me">
                                    <label class="form-check-label" for="_remember_me_switch">Remember me</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-sm btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}