{% extends "layouts/front_layout.html.twig" %}

{% block body %}
<h1>{{ page_title }}</h1>

<div class="row g-3">
    {% for universe in universes %}
        <div class="col-12">
            {{ component('universe_card', {'universe': universe}) }}
        </div>
    {% endfor %}
</div>
{% endblock %}
