<h2>Need help to generate universe data ?</h2>
<p>You can ask to chat gpt some data to generate a universe.</p>

{{form_start(gpt_form)}}
{{form_rest(gpt_form)}}
<button type="submit">Ask to chatGPT</button>
{{form_end(gpt_form)}}