{% extends 'layouts/base.html.twig' %}

{% block title %}App | Create universe{% endblock %}

{% block body %}
{# include _form #}
<h1>Create universe</h1>
{% include "app/universe/_form.html.twig" %}
{% endblock %}