{% extends 'layouts/base.html.twig' %}

{% block title %}App | Edit universe{% endblock %}

{% block body %}
{# include _form #}
<h1>Edit universe</h1>
<div>
  <div>
    {% include "app/universe/_form.html.twig" %}
  </div>
  <div>
    {% include "app/universe/_chat_gpt_form.html.twig" %}
  </div>
</div>
{% endblock %}