{% extends 'layouts/base.html.twig' %}

{% block title %}App | Edit universe{% endblock %}

{% block body %}
{# include _form #}
<h1>Edit universe</h1>
<div class="row">
  <div class="col-12 col-md-8 col-lg-9">
    {% include "app/universe/_form.html.twig" %}
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    {% include "app/universe/_chat_gpt_form.html.twig" %}
  </div>
</div>
{% endblock %}