<!DOCTYPE html>

<title>Edit User</title>

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">Back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
